Pillow==10.3.0
SQLAlchemy==2.0.30
aiohttp==3.9.5
dateparser==1.2.0
genshin@git+https://github.com/thesadru/genshin.py.git@a1ec09c4147cbb881ec1edf426515c416c1d453b#egg=genshin
lxml==5.2.1
py-cord@git+https://github.com/Pycord-Development/pycord.git@08370b57368e2e5ce0e4e70faf8514742f45f5e5#egg=py-cord
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
rapidfuzz==3.9.0
tenacity==8.3.0
# PixivPy==3.7.0
# discord==2.3.2
# setuptools==69.5.1
